<UserScriptConfig>
	<Script filename="autopagerize.user.js" name="AutoPagerize" namespace="http://swdyh.yu.to/" description="loading next page and inserting into current page." enabled="true" basedir="autopagerize">
		<Include>*</Include>
	</Script>
	<Script filename="minibuffer.user.js" name="Minibuffer" namespace="http://white.s151.xrea.com/" description="Minibuffer" enabled="true" basedir="minibuffer">
		<Include>*</Include>
	</Script>
	<Script filename="ldrize.user.js" name="LDRize" namespace="http://white.s151.xrea.com/" description="j,k,v,p,o,:,f,? + l,s,i" enabled="true" basedir="ldrize">
		<Include>*</Include>
	</Script>
	<Script filename="focus_field.user.js" name="Focus Field" namespace="http://libelabo.jp/" description="Focus on Field in turn" enabled="true" basedir="focus_field">
		<Include>*</Include>
	</Script>
	<Script filename="sbm_comments_viewer.user.js" name="SBM Comments Viewer" namespace="http://white.s151.xrea.com/wiki/index.php?script/SBMCommentsViewer" description="Show social bookmark's comments at the bottom of your browser." enabled="true" basedir="sbm_comments_viewer">
		<Include>*</Include>
	</Script>
	<Script filename="favicon_with_google_read.user.js" name="Favicon with Google Reader" namespace="http://libelabo.jp/" description="A script to add favicons next to links on Google Reader" enabled="true" basedir="favicon_with_google_read">
		<Include>http://www.google.com/reader/view/*</Include>
		<Include>https://www.google.com/reader/view/*</Include>
	</Script>
	<Script filename="google_reader_full_feed.user.js" name="Google Reader Full Feed" namespace="tag:mattn.jp@gmail.com,2008-02-25:/coderepos.org" description="loading full entry on Google Reader" enabled="true" basedir="google_reader_full_feed">
		<Include>http://www.google.tld/reader/*</Include>
		<Include>https://www.google.tld/reader/*</Include>
	</Script>
	<Script filename="favicon_with_google_3.user.js" name="Favicon with Google 3" namespace="http://white.s151.xrea.com/" description="A script to add favicons next to links on Google search results" enabled="true" basedir="favicon_with_google_3">
		<Include>http://*google.*/*q=*</Include>
		<Exclude>http://mail.google.com/*</Exclude>
	</Script>
	<Script filename="sbm_count_with_google.user.js" name="SBM Count With Google" namespace="http://white.s151.xrea.com/" description="show SBM count in Google search result" enabled="true" basedir="sbm_count_with_google">
		<Include>http://www.google.*/*q=*</Include>
	</Script>
	<Script filename="googlereaderfullfeed.user.js" name="googlereaderfullfeed" namespace="coderepos.org" description="" enabled="true" basedir="googlereaderfullfeed">
		<Include>*</Include>
	</Script>
	<Script filename="minibuffer_bookmark_comm.user.js" name="Minibuffer Bookmark Command" namespace="http://white.s151.xrea.com/" description="bookmark command for minibuffer" enabled="true" basedir="minibuffer_bookmark_comm">
		<Include>*</Include>
	</Script>
</UserScriptConfig>